{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<table class="custom-system-attributes">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each attributes}}
        <tr class="custom-system-hidden-attribute">
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.value}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
