<!-- Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="custom-system-component-contents checkbox_key custom-system-component-root custom-system-field custom-system-field-root custom-system-field-full-size custom-system-checkbox">
    <label for="Actor.{TPL_ID}-checkbox_key">Checkbox label edited</label>
    <input type="checkbox" id="Actor.{TPL_ID}-checkbox_key" name="system.props.checkbox_key"/>
</div>
