{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="labelStyle">Label style*</label>
    <select id="labelStyle" data-key="style">
        {{#select style}}
        <option value="label">Default</option>
        <option value="title">Title</option>
        <option value="subtitle">Subtitle</option>
        <option value="bold">Bold text</option>
        <option value="button">Button</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="labelSize">Size*</label>
    <select id="labelSize" data-key="size">
        {{#select size}}
        <option value="full-size">Auto</option>
        <option value="x-small">Tiny</option>
        <option value="small">Smaller</option>
        <option value="m-small">Small</option>
        <option value="medium">Medium</option>
        <option value="m-large">Large</option>
        <option value="large">Larger</option>
        <option value="x-large">Gigantic</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="labelText">Label text</label>
    <textarea id="labelText" data-key="value">{{value}}</textarea>
</div>

<div class="custom-system-form-field">
    <label for="labelRichText">Use rich text editor for label</label>
    <input type="checkbox" id="labelRichText" name="editorToggle"/>
</div>

<div class="custom-system-form-field">
    <label for="labelPrefix">Label prefix</label>
    <textarea id="labelPrefix" data-key="prefix">{{prefix}}</textarea>
</div>

<div class="custom-system-form-field">
    <label for="labelSuffix">Label suffix</label>
    <textarea id="labelSuffix" data-key="suffix">{{suffix}}</textarea>
</div>

<div class="custom-system-form-field">
    <label for="labelIcon">Label icon
        <i class="fas fa-info-circle"
           title="You can use Font-Awesome icon names like 'dice-d20'. Check their website to discover their icon collection">
        </i>
    </label>
    <input id="labelIcon" type="text" data-key="icon" value="{{icon}}" />
</div>

<div class="custom-system-form-field">
    <label for="labelRollMessage">Label roll message</label>
    <textarea id="labelRollMessage" data-key="rollMessage" rows="10">{{rollMessage}}</textarea>
</div>

<div class="custom-system-form-field">
    <label for="rollRichText">Use rich text editor for roll message</label>
    <input type="checkbox" id="rollRichText" name="editorToggle"/>
</div>

<div class="custom-system-form-field">
    <label for="labelRollMessageToChat">Send roll message to chat</label>
    <input type="checkbox" id="labelRollMessageToChat" {{checked rollMessageToChat}} />
</div>

<div class="custom-system-form-field">
    <label for="labelAltRollMessage">Label alternative roll message
        <i class="fas fa-info-circle" title="Triggered on Shift + Click"></i>
    </label>
    <textarea id="labelAltRollMessage" data-key="altRollMessage" rows="10">{{altRollMessage}}</textarea>
</div>

<div class="custom-system-form-field">
    <label for="altRollRichText">Use rich text editor for alternative roll message</label>
    <input type="checkbox" id="altRollRichText" name="editorToggle"/>
</div>

<div class="custom-system-form-field">
    <label for="labelAltRollMessageToChat">Send alternative roll message to chat</label>
    <input type="checkbox" id="labelAltRollMessageToChat" {{checked altRollMessageToChat}} />
</div>
