{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="numberFieldLabel">Label</label>
    <input id="numberFieldLabel" type="text" data-key="label" value="{{label}}" />
</div>

<div class="custom-system-form-field">
    <label for="numberFieldSize">Size*</label>
    <select id="numberFieldSize" data-key="size">
        {{#select size}}
        <option value="full-size">Auto</option>
        <option value="x-small">Tiny</option>
        <option value="small">Smaller</option>
        <option value="m-small">Small</option>
        <option value="medium">Medium</option>
        <option value="m-large">Large</option>
        <option value="large">Larger</option>
        <option value="x-large">Gigantic</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="numberFieldAllowDecimal">Allow decimal number</label>
    <input type="checkbox" id="numberFieldAllowDecimal" data-key="allowDecimal" {{checked allowDecimal}} />
</div>

<div class="custom-system-form-field">
    <label for="numberFieldMinVal">Minimum value
        <i class="fas fa-info-circle" title="Allows Formulas"></i>
    </label>
    <input id="numberFieldMinVal" type="text" data-key="minVal" value="{{minVal}}" />
</div>

<div class="custom-system-form-field">
    <label for="numberFieldMaxVal">Maximum value
        <i class="fas fa-info-circle" title="Allows Formulas"></i>
    </label>
    <input id="numberFieldMaxVal" type="text" data-key="maxVal" value="{{maxVal}}" />
</div>

<div class="custom-system-form-field">
    <label for="numberFieldValue">Default value
        <i class="fas fa-info-circle" title="Allows Formulas. Is only relevant at creation-time (no auto-updates)"></i>
    </label>
    <input id="numberFieldValue" type="text" data-key="defaultValue" value="{{defaultValue}}" />
</div>

<div class="custom-system-form-field">
    <label for="numberFieldAllowRelative">Allow relative modification
        <i class="fas fa-info-circle" title="Entering '+5' will add 5 to the current value, for example"></i>
    </label>
    <input type="checkbox" id="numberFieldAllowRelative" data-key="allowRelative" {{checked allowRelative}} />
</div>
<div class="custom-system-form-field">
    <label for="numberFieldShowControls">Show field controls
        <i class="fas fa-info-circle" title="displays '+' and '-' buttons at the sides"></i></label>
    <input type="checkbox" id="numberFieldShowControls" data-key="showControls" {{checked showControls}} />
</div>
<div class="custom-system-form-field">
    <label for="numberFieldControlsStyle">Controls style*</label>
    <select id="numberFieldControlsStyle" data-key="controlsStyle">
        {{#select controlsStyle}}
        <option value="hover">Hover to display</option>
        <option value="full">Full controls</option>
        {{/select}}
    </select>
</div>
<div class="custom-system-form-field">
    <label for="numberFieldInputStyle">Controls style*</label>
    <select id="numberFieldInputStyle" data-key="inputStyle">
        {{#select inputStyle}}
        <option value="text">Display as a text field</option>
        <option value="range">Display as a slider</option>
        {{/select}}
    </select>
</div>
