{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="radioButtonLabel">Label</label>
    <input id="radioButtonLabel" type="text" data-key="label" value="{{label}}" />
</div>

<div class="custom-system-form-field">
    <label for="radioButtonSize">Size*</label>
    <select id="radioButtonSize" data-key="size">
        {{#select size}}
        <option value="full-size">Auto</option>
        <option value="x-small">Tiny</option>
        <option value="small">Smaller</option>
        <option value="m-small">Small</option>
        <option value="medium">Medium</option>
        <option value="m-large">Large</option>
        <option value="large">Larger</option>
        <option value="x-large">Gigantic</option>
        {{/select}}
    </select>
</div>

<div class="custom-system-form-field">
    <label for="radioButtonGroup">Group*
        <i class="fas fa-info-circle" title="Will be used as a key in Formulas"></i>
    </label>
    <input id="radioButtonGroup" type="text" data-key="group" value="{{group}}" />
</div>

<div class="custom-system-form-field">
    <label for="radioButtonValue">Value</label>
    <input id="radioButtonValue" type="text" data-key="value" value="{{value}}" />
</div>

<div class="custom-system-form-field">
    <label for="radioButtonDefaultChecked">Checked by default</label>
    <input id="radioButtonDefaultChecked" type="checkbox" data-key="defaultChecked" {{checked defaultChecked}} />
</div>
