{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<div class="custom-system-form-field">
    <label for="tableRows">Row count*</label>
    <input id="tableRows" type="number" data-key="rows" value="{{rows}}" min="1" />
</div>
<div class="custom-system-form-field">
    <label for="tableCols">Column count*</label>
    <input id="tableCols" type="number" data-key="cols" value="{{cols}}" min="1" />
</div>

<div class="custom-system-form-field">
    <label for="tableLayout">Table layout
        <i class="fas fa-info-circle"
           title="You can specify for each column, if it should be aligned left (l), right (r) or centered (c). Example for a 4-column table: 'cllr'"></i>
    </label>
    <input id="tableLayout" type="text" data-key="layout" value="{{layout}}" />
</div>
